:root{
    --fuente:"Roboto", sans-serif;
    --morado-oscuro:#883AE1;
    --morado--pastel:#E6D6FC;
    --blanco:#fff;
    --gris--claro:#E5EAF0;
    --blanco--grueso:#FAFAF9;
    --negro:#20293A;
    --gris--ocuro:#6C727F;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
}

body{
    background-color: var(--blanco--grueso);
}

img{
    width: 336px;
    height: 152px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: top;
    border-radius: 5px;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.tarjeta{
    width: 370px;
    background-color: var(--blanco);
    border-radius: 10px;
    box-shadow: 1px 0px 13px 0px rgba(0,0,0,0.75);
    
}

.contenido{
    padding: 16px;
}

.boton{
    margin-top: 16px;
    background-color: var(--morado--pastel);
    border-style: none;
    padding: 5px 30px;
    border-radius: 20px;
    color: var(--morado-oscuro);
    font-weight: bold;
}

.titulo{
    margin-top: 16px;
    font-size: 18px;
    font-weight: 700;
}

.texto{
    font-size: 14px;
    line-height: 25px;
    color: var(--gris--ocuro);
    margin-top: 6px;
    margin-bottom: 20px;
}

hr{
    color: var(--gris--claro);
    width: 100%;
}
.nombre{
    margin-top: 20px;
    font-size: 10px;
    color: var(--gris--ocuro);
}

